* {
    box-sizing: border-box;
}

body {
    font-family: "Pangolin";
    margin: 0px;
}

hr {
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.flotante {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.map {
    max-width: 100%;
}

.rep-outer {
    display: grid;
    background: hsla(0, 0%, 0%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.rep-outer.open {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s;
}

.rep-inner {
    max-width: 600px;
    min-width: 400px;
    padding: 2rem;
    border-radius: 5px;
    min-height: 200px;
    background: white;
}

.contenedor-teaser {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.presentación {
    background-color: white;
    padding: 1%;

}